<div class="container-fluid vh-100 p-3">
  <div class="d-flex h-100 flex-column gap-3">
    <div class="containers p-3">
      <h5><b>System Users</b></h5>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="admin-tab"
            data-bs-toggle="tab"
            data-bs-target="#admin-tab-pane"
            type="button"
            role="tab"
            aria-controls="admin-tab-pane"
            aria-selected="true"
          >
            Admin
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="staff-tab"
            data-bs-toggle="tab"
            data-bs-target="#staff-tab-pane"
            type="button"
            role="tab"
            aria-controls="staff-tab-pane"
            aria-selected="false"
          >
            Staff
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="drivers-tab"
            data-bs-toggle="tab"
            data-bs-target="#drivers-tab-pane"
            type="button"
            role="tab"
            aria-controls="drivers-tab-pane"
            aria-selected="false"
          >
            Drivers
          </button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="d-flex justify-content-end align-items-center p-3">
          <button class="btn btn-primary" (click)="addStaff()">Add User</button>
        </div>

        <!-- Admin Tab -->
        <div
          class="tab-pane fade show active"
          id="admin-tab-pane"
          role="tabpanel"
          aria-labelledby="admin-tab"
          tabindex="0"
        >
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Fullname</th>
                <th scope="col">User Level</th>
                <th scope="col">Phone</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody *ngFor="let user of adminUsers">
              <tr>
                <th scope="row">{{ user.name }}</th>
                <td>{{ user.type }}</td>
                <td>{{ user.phone }}</td>
                <td>
                  <div class="d-flex gap-3" style="white-space: nowrap">
                    <!-- View Profile Button -->
                    <button class="btn btn-primary" (click)="viewProfile(user)">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-eye-fill"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5 8-5.5 8-5.5Zm-8 4a4 4 0 1 1 0-8 4 4 0 0 1 0 8Zm0-1a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
                        />
                      </svg>
                    </button>
                  
                    <!-- Delete Button -->
                    <button class="btn btn-danger" (click)="deleteAccount(user)">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-person-fill-x"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"
                        />
                        <path
                          d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm-.646-4.854l.646.647.646-.647a.5.5 0 0 1 .708.708l-.647.646.647.646a.5.5 0 0 1-.708.708l-.646-.647-.646.647a.5.5 0 0 1-.708-.708Z"
                        />
                      </svg>
                    </button>
                  </div> 
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Staff Tab -->
        <div
          class="tab-pane fade"
          id="staff-tab-pane"
          role="tabpanel"
          aria-labelledby="staff-tab"
          tabindex="0"
        >
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Fullname</th>
                <th scope="col">User Level</th>
                <th scope="col">Phone</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody *ngFor="let user of staffUsers">
              <tr>
                <th scope="row">{{ user.name }}</th>
                <td>{{ user.type }}</td>
                <td>{{ user.phone }}</td>
                <td>
                  <div class="d-flex gap-3" style="white-space: nowrap">
                    <!-- View Profile Button -->
                    <button class="btn btn-primary" (click)="viewProfile(user)">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-eye-fill"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5 8-5.5 8-5.5Zm-8 4a4 4 0 1 1 0-8 4 4 0 0 1 0 8Zm0-1a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
                        />
                      </svg>
                    </button>
                  
                    <!-- Delete Button -->
                    <button class="btn btn-danger" (click)="deleteAccount(user)">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-person-fill-x"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"
                        />
                        <path
                          d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm-.646-4.854l.646.647.646-.647a.5.5 0 0 1 .708.708l-.647.646.647.646a.5.5 0 0 1-.708.708l-.646-.647-.646.647a.5.5 0 0 1-.708-.708Z"
                        />
                      </svg>
                    </button>
                  </div> 
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Drivers Tab -->
        <div
          class="tab-pane fade"
          id="drivers-tab-pane"
          role="tabpanel"
          aria-labelledby="drivers-tab"
          tabindex="0"
        >
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Fullname</th>
                <th scope="col">User Level</th>
                <th scope="col">Phone</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody *ngFor="let user of driverUsers">
              <tr>
                <th scope="row">{{ user.name }}</th>
                <td>{{ user.type }}</td>
                <td>{{ user.phone }}</td>
                <td>
                  <div class="d-flex gap-3" style="white-space: nowrap">
                    <!-- View Profile Button -->
                    <button class="btn btn-primary" (click)="viewProfile(user)">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-eye-fill"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5 8-5.5 8-5.5Zm-8 4a4 4 0 1 1 0-8 4 4 0 0 1 0 8Zm0-1a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
                        />
                      </svg>
                    </button>
                  
                    <!-- Delete Button -->
                    <button class="btn btn-danger" (click)="deleteAccount(user)">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-person-fill-x"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"
                        />
                        <path
                          d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm-.646-4.854l.646.647.646-.647a.5.5 0 0 1 .708.708l-.647.646.647.646a.5.5 0 0 1-.708.708l-.646-.647-.646.647a.5.5 0 0 1-.708-.708Z"
                        />
                      </svg>
                    </button>
                  </div>                                    
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
